body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 100vh;
    background-color :
    #5C601A;
}

h1 {
    color: navy;
    margin-left: 20px;
}

#btn_menu1 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	background-color: #222;
	transition: background-color 0.3s ease;
}
#btn_menu1::before {
	position: absolute;
	top: calc(50% - 1px);
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #f7f7f7;
	opacity: 0;
	transform: rotate(45deg);
	transition: opacity 0.3s ease;
}
#btn_menu1 span {
	display: block;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	opacity: 1;
	transition: opacity 0.3s ease;
}
#btn_menu1 span::before,
#btn_menu1 span span, #btn_menu1 span::after {
	position: absolute;
	top: 12%;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background: #f7f7f7;
	transition: opacity 0.3s ease;
}
#btn_menu1 span span {
	top: calc(50% - 1px);
}
#btn_menu1 span::after {
	top: auto;
	bottom: 12%;
}
#btn_menu1::after {
	position: absolute;
	top: calc(50% - 1px);
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #f7f7f7;
	opacity: 0;
	transform: rotate(-45deg);
	transition: opacity 0.3s ease;
}
#btn_menu1:hover {
	background-color: #555;
}
#btn_menu1.active::before {
	opacity: 1;
}
#btn_menu1.active span {
	opacity: 0;
}
#btn_menu1.active::after {
	opacity: 1;
}
