body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 100vh;
    background-color :
    #5C601A;
}

h1 {
    color: navy;
    margin-left: 20px;
}
